.usuario {
  margin: 0.8rem 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #912c8c2f;
  padding: 0.2rem 0.2rem;
}

.usuarioImgContainer {
  color: var(--primary-color);
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  height: 50px;
  width: 50px;
}

.usuarioImg {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profesionalLeft {
  display: flex;
  align-items: center;
}

.usuarioInfo h2 {
  margin: 0;
  font-size: 1rem;
}

.usuarioInfo p {
  margin: 0;
  font-size: 0.9rem;
}

.informeButton {
  padding: 1rem;
}

.informeButton a {
  color: var(--primary-color);
}

.filtersContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.filterSelect {
  color: var(--primary-color);
  padding: 0.4rem 0.8rem;
  border-radius: 30px;
  border: none;
  background-color: var(--secondary-color);
}

.searchInput {
  color: var(--primary-color);
  padding: 0.4rem 0.8rem;
  border-radius: 30px;
  border: none;
  background-color: var(--secondary-color);
  width: 40%;
}
