@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #912C8C;
    /* --secondary-color: #F5B60F; */
    --secondary-color: #ffc527;
    /* --secondaryv2-color: #F5B60F; */
    --secondaryv2-color: #ffc527;
    --background-color: #F7F7F7;
    --text-color: #1C1C1C;
    --grey-color: #b2b2b2;
    --font-family: 'Inter', sans-serif;
  }
  